h1{
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 12;
  font-weight: bold;
  text-decoration: underline;
}

body{
  background: linear-gradient;
  height: 100;
}

#contents {
    margin-top: 2;
    height: 300;
    border: 1 solid black;
    text-align: left;
    border-radius: 25;
    background-color: rwb;
}

.recipe{
  padding: 5;
  font-size: 1.5;
}

a{
  color: black;
  text-decoration: none;
}
